<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>Footfy</title>
    {% endblock head %}
    
    <link rel='stylesheet' href ='/styles.css'>

</head>
<body>
    <header>
        <div class="links">
            <a class='foodfy_link' href='/'>Foodfy</a>
            <a class = 'sobre_link' href='/sobre'>Sobre</a>
            <a class = 'receitas_link' href='/receitas'>Receitas</a>
        </div>
    <header>
    {% block content %}
        
    {% endblock content %}

    <footer>
        <p class='footer'>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
    
    {% block js %}
        <script src="scripts.js"></script>
    {% endblock js %}
    
</body>
</html>